{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Node js Course</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae facilis, natus, doloribus vero aliquid esse eius dolore ducimus doloremque amet inventore, numquam velit ullam porro reprehenderit molestiae possimus delectus labore.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/node-img.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}